<div id="searchContainer" ng-controller="search">
	
	<input type="search" ng-model="searchParams" placeholder="Search for your favorite artist!" ng-click="search()"/>
	<div>
		<ul>
			<img ng-src="{{}}">
			<li ng-repeat="result in results" ng-click="addSong($index)">
				<img ng-src="{{result.snippet.thumbnails.default.url}}">
				<b>{{result.snippet.title}} </b>
				<span>{{result.snippet.description}}</span>
			</li>
		</ul>
	</div>
	
	<div class="playList">
		<ul>
			<li ng-click="removeSong($index)" ng-repeat="song in playlist">{{song.artist}} - {{song.name}}</li>
		</ul>
	</div>
	
</div>